.ff__landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: url('../../assets/bg02.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.ff__landing-container {
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
}

.ff__landing-container_logo {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ff__landing-container_logo img {
  /* width: 90%; */
  height: 80vh;
}

.ff__landing-cta_btn {
  /* display: block;
  justify-content: center;
  align-items: center; */
  padding: 1rem 2rem;
  border: 1px solid #6ea230;
  text-align: center;
  cursor: pointer;
  font-family: var(--font-family);
  border-radius: 5px;
  background: #6ea230;
  color: #000;
  font-weight: bolder;
}

.ff__landing-cta_btn:hover {
  background: #AAAA00;
  border: 1px solid #AAAA00;
  color: #fff;
  font-weight: bolder;
}